#el-container-app {
  height: 100%;
}

#el-col-menu, #el-col-list, #el-col-content {
  height: 100%;
}

#el-col-menu, #el-col-list {
  width: 25%;

  .icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .el-nav-top {
    height: 30px;
    border-bottom: 1px solid $--border-color-base;
  }
}

#el-col-content {
  width: 50%;
}

.gutter-horizontal {
  cursor: col-resize;
  //border-left: 1px solid $--border-color-base;
  border-left: 1px solid $--border-color-base;
  box-sizing: border-box;
}

.el-nav-top {
  padding: 10px;
  color: $--color-text-primary;

  .icon, .el-input {
    -webkit-app-region: no-drag;
  }
}

#el-col-list {
  text-align: right;

  .el-input {
    display: inline-block;
    float: left;
    width: calc(100% - 40px);

    input {
      height: 30px;
      line-height:30px;
    }

    .el-input__icon {
      line-height: 30px;
    }
  }
}
