#el-container-app {
  height: 100%;
}

#el-col-menu, #el-col-list, #el-col-content {
  height: 100%;
}

#el-col-menu, #el-col-list {
  width: 25%;
}

#el-col-content {
  width: 50%;
}

.gutter-horizontal {
  cursor: col-resize;
  //border-left: 1px solid $--border-color-base;
  border-left: 1px solid $--border-color-base;
  box-sizing: border-box;
}

.el-nav-top {
  padding: 14px;
  color: $--color-text-primary;

  .fas {
    font-size: 24px;
  }
}
